img {
  border-radius: 50%;
  width: 170px;
}

.grid-container {
  margin-top: 200px;
  width: 800px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item1 {
  background: green;
  width: 200px;
  padding: 20px;
}
.grid-item2 {
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 20px;
  font-size: 16px;
  text-align: justify;
}
